<!-- Color link: https://colorhunt.co/palette/f0ece3dfd3c3c7b198596e79 -->
<!-- top: F0ECE3 -->
<!-- 2nd: DFD3C3 -->
<!-- 3rd: C7B198 -->
<!-- bottom: 596E79 -->

body {
    background-color: #F0ECE3;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #E3E2D0;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #596E79;
}

h2 {
    color: #C7B198;
}


h3 {
    color: #C7B198;
}


